name: rubocop

on: [pull_request]

permissions:
  contents: read

jobs:
  rubocop:
    name: rubocop
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v6

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: "4.0"
          bundler-cache: true

      - name: Run rubocop
        run: bundle exec rubocop
